
.flextable {
  display: table;
  *overflow: auto; /* IE old */
  table-layout: fixed;
  width: 100%;
}

.flextable .col {
  display: table-cell;
  *float:left; /* IE old */
  text-align: center;
}

@supports(display: flex) {
    .flextable {
        display: flex;
        justify-content: space-between;
    }

    .flextable .col {
        display: block;
    }
}
